- settings_url = url_for(person_settings_url(I18n.locale, @recipient))

%tr
  %td.email-content
    %p
      = t("emails.cause_reset.intro", service: @community_name)
    %p
      = t("emails.cause_reset.your_cause_has_changed", service: @community_name, cause_name: @cause_name).html_safe 
    %p
      = t("emails.cause_reset.how_to_select_a_cause", service: @community_name)
    %p
      = t("emails.cause_reset.alternatively_click_button")

= render :partial => "action_button", :locals => { :text => t("emails.cause_reset.settings_button"), :url => settings_url}
