<div class="about-page-heading-container">
  <div class="heading-title-container">
    <h1 class="heading-title"><strong>Society is changing.</strong></h1>
  </div>
  <div class="heading1-title-container">
    <h2 class="heading1-title"><span><strong>Fundraising must too.</strong></span></h2>
  </div>
  <div class="about-us-text-container">
     <p class="info1">Gigfunding was born from the frustration with traditional fundraising. We are absolutely done with passive direct debits, grinding guilt trips, aggravating cold calls, irritating chugging and sponsored effing bungee jumps. They are dead to us.</p>
      <p class="info2"><strong>Gigfunding</strong> is your invitation for you to be the social change. No matter your skills, ability or availibility, Gigfunding is for you. no obligations, no reguirements, just <span>the freedom to give how you want, when you want.</span></p>
        <p class="info3">2020 has certainly reminded us all what’s most important in our society. <em>(no, not just loo roll)</em> So we invite you to join our community of changemakers, push the boat out, meet your neighbours, exchange your skills, and fund real change through <strong>our gig economy for good.</strong></p>
          <%= image_tag 'about_photos/Image.jpg', :class => "image"%>
          <a href="<%= sign_up_path %>" class="btn-about">Join the change</a>
          <p class="info4">Take control of your future and leave the mainstream behind in the dust. History wasn’t made by people that did nothing.</p>
  </div>
</div>
<div class="about-page-beginning-container">
  <div class="beginning-title-container">
    <h2 class="start-heading"><span>How we started</span></h2>
  </div>
  <div class="year-title-container">
    <h2 class="year1"><span>2016</span></h2>
  </div>
    <div class="year-2016-text-container">
      <%= image_tag 'about_photos/Image1.jpg', :class => "image1"%>
      <p class="info5">Longtime friends and Gigfunding co-founders <a href="https://www.linkedin.com/in/pasco/">Pasco</a> and <a href="https://www.linkedin.com/in/lukeflegg/">Luke</a> began collaborating on the idea of Gigfunding remotely, whilst Pasco was living in Mexico. They’d previously worked on an online democracy project together so were no strangers to innovative, outside the box thinking.</p>
      <%= image_tag 'about_photos/Vector2.jpg', :class => "line"%>
      <%= image_tag 'about_photos/Vector1.jpg', :class => "line2"%>
    </div>
    <div class="year-2017-text-container">
      <p class="info6">Pasco returned to the UK in the summer and Gigfunding made its simple beginnings as a humble whiteboard in sunny Brighton, with polaroids for profile pictures and post-it notes for listings.</p>
        <h2 class="year2"><span>2017</span></h2>
        <%= image_tag 'about_photos/Image2.jpg', :class => "image2"%>
    </div>
    <div class="year-2018-text-container">
      <p class="info7">Gigfunding began to have an online presence, testing the concept using a hacked-Wix website. At this time the project was called Dignity platform, and here the seeds were being sewn for Gigfunding to grow.</p>
        <h2 class="year3"><span>2018</span></h2>
        <%= image_tag 'about_photos/Image3.jpg', :class => "image3"%>
    </div>
    <div class="year-2019-text-container">
      <p class="info8">At this point the currency of pizza and beer, to pay developers, started to lose its value. Thanks to some community crowdfunding the team were able to pay to get some proper development going.</p>
        <h2 class="year4"><span>2019</span></h2>
        <%= image_tag 'about_photos/Image4.jpg', :class => "image4"%>
    </div>
    <div class="year-2020-text-container">
      <p class="info9">Well, what a year. It hit many of us in many different ways. Thankfully, Gigfunding benefited from the altruistic nature of people finding themselves with more time on their hands. The team of volunteers grew from 3 to 25, we landed our first major charity partnership and we launched our first proper website!</p>
        <h2 class="year5"><span>2020</span></h2>
        <%= image_tag 'about_photos/Image5.jpg', :class => "image5"%>
    </div>
      <div class="year-2021-title-container">
        <h2 class="year6"><span>2021</span></h2>
      </div>
</div>
  <div class="about-page-impact-container">
    <div class="year-2021-text-container">
      <p class="info10">Focusing on remote skill sharing, for obvious reasons, the success of this year relies on you. This is your personal invitation to participate in social change. So what are you waiting for? Join our community of changemakers and be the change you want to see.</p>
    </div>
    <%= image_tag 'about_photos/Image6.jpg', :class => "image6"%>
      <div class="impact-title-container">
        <p class="impact-title"><span>What’s your impact?</span></p>
      </div>
  </div>


<div class='about-page-team-container'>
  <div class='team-title-container'>
    <h2 class="team-title"><span>Meet the team</span></h2>
  </div>
  <%= image_tag 'about_photos/Image8.jpg', :class => "team-image"%>
  <div class='team-text-container'>
    <p class="info12">True to the spirit of Gigfunding, we rely on a team of vibrant, talented and generous volunteers to keep the gears turning. From all sorts of backgrounds, furloughed, between jobs or looking to gain skills and knowledge, the diverse team dedicates their time and skills to the continued growth of the project.</p>
    <p class="info13">In a year that has been so hard for many, we think it’s truly beautiful that a project with giving at its heart has been (almost entirely) built up through the giving and generosity of volunteers.</p>
    <p class="info14">From Gift Aid exploration to designing social posts, donation bookkeeping, partnerships building to creating a new feel and voice. Gigfunding will continue to grow into 2021, thanks to our epic team.</p>
    <a href="mailto:lana@gigfunding.org?subject=I want to join the team" class="btn-join">Join the Team</a>
  </div>
</div>








